In [37]:
import pandas as pd
import re

In [38]:
df = pd.read_csv("D:/4 COURSE/7 DIBIMBING/Sociolla/sociolla_makeup_data.csv")
df.head()

,Brand,Name,Harga,Rating,Review
0,Maybelline,Superstay Vinyl Ink Tint,Rp139.900,4.7,(5k)
1,Skintific,Perfect Stay Velvet Matte Cushion,Rp140.700-Rp168.840,4.8,(758)
2,Dear Me Beauty,Serum Lip Tint,Rp35.280-Rp40.670,4.6,"(4,3k)"
3,Skintific,Ultra Cover Powder Foundation,Rp124.050-Rp148.860,4.8,(294)
4,barenbliss,Peach Makes Perfect Lip Tint,Rp65.610Rp72.900,4.6,"(5,8k)"

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Brand   1498 non-null   object
 1   Name    1498 non-null   object
 2   Harga   1498 non-null   object
 3   Rating  1498 non-null   object
 4   Review  1498 non-null   object
dtypes: object(5)
memory usage: 58.6+ KB

In [40]:
df['Rating'].unique()

array(['4.7', '4.8', '4.6', '4.9', '4.5', '4.4', '4.2', 'No Rating',
       '4.3', '5.0', '4.0', '4.1', '3.6', '3.0', '3.9', '3.8', '3.2',
       '3.4', '2.8', '3.7'], dtype=object)

In [41]:
df['Review'].unique()

array(['(5k)', '(758)', '(4,3k)', '(294)', '(5,8k)', '(3,5k)', '(1,1k)',
       '(2,9k)', '(404)', '(310)', '(5,1k)', '(1k)', '(475)', '(2,1k)',
       '(1,7k)', '(400)', '(225)', '(1,5k)', '(1,4k)', '(4,2k)', '(298)',
       '(212)', '(547)', '(1,9k)', '(99)', '(4,6k)', '(2,6k)', '(210)',
       '(2,2k)', '(3k)', '(807)', '(178)', '(440)', '(8,3k)', '(265)',
       '(1,2k)', '(2,5k)', '(467)', '(3,8k)', '(296)', '(2,3k)', '(238)',
       '(4,7k)', '(454)', '(297)', '(421)', '(106)', '(578)', '(844)',
       '(147)', '(3,1k)', '(221)', '(62)', '(2k)', '(170)', '(437)',
       '(94)', '(96)', '(540)', '(182)', '(177)', '(97)', '(626)',
       '(391)', '(93)', '(61)', '(500)', '(1,8k)', '(455)', '(944)',
       '(345)', '(660)', '(59)', '(245)', '(691)', '(64)', '(372)',
       '(559)', '(76)', '(131)', '(111)', '(185)', '(312)', '(135)',
       '(522)', '(22)', '(955)', '(446)', '(73)', '(227)', '(281)',
       '(5,9k)', '(2,4k)', '(1,3k)', '(104)', '(284)', '(431)', '(224)',
       '(502)', '(153)', '(239)', '(215)', '(27)', '(728)', '(631)',
       '(83)', '(272)', '(228)', '(38)', '(268)', '(283)', '(74)',
       '(586)', '(184)', '(159)', '(50)', '(453)', '(670)', '(30)',
       '(3,7k)', '(49)', '(8,7k)', '(43)', '(736)', '(307)', '(24)',
       '(302)', '(40)', '(384)', '(219)', '(132)', '(65)', '(181)',
       '(46)', '(35)', '(41)', '(54)', '(652)', '(113)', '(29)', '(138)',
       '(28)', '(3,2k)', '(689)', '(141)', '(202)', '(56)', '(21)',
       '(85)', '(465)', '(624)', '(171)', '(174)', '(51)', '(75)',
       '(117)', '(60)', '(160)', '(17)', '(15,9k)', '(237)', '(213)',
       '(12)', '(328)', '(26)', '(549)', '(45)', '(923)', '(109)', '(95)',
       '(108)', '(25)', '(567)', '(389)', '(137)', '(101)', '(230)',
       '(16)', '(6)', '(191)', '(3)', '(376)', '(34)', '(11)', '(910)',
       '(333)', '(195)', '(55)', '(5,4k)', '(757)', '(100)', '(20)',
       '(250)', '(125)', '(48)', '(127)', '(647)', '(193)', '(44)',
       '(164)', '(501)', '(194)', '(18)', '(9)', '(325)', '(262)', '(37)',
       '(23)', '(5)', '(158)', '(879)', '(136)', '(169)', '(246)',
       'No Review', '(899)', '(92)', '(36)', '(31)', '(972)', '(78)',
       '(256)', '(66)', '(269)', '(295)', '(15)', '(163)', '(87)', '(7)',
       '(69)', '(79)', '(2)', '(139)', '(287)', '(144)', '(557)', '(10)',
       '(32)', '(4)', '(579)', '(254)', '(754)', '(14)', '(180)', '(921)',
       '(458)', '(58)', '(205)', '(252)', '(39)', '(277)', '(9,4k)',
       '(414)', '(253)', '(510)', '(119)', '(70)', '(974)', '(8)', '(89)',
       '(676)', '(133)', '(216)', '(326)', '(13)', '(985)', '(116)',
       '(1)', '(105)', '(234)', '(218)', '(407)', '(451)', '(11,7k)',
       '(88)', '(126)', '(47)', '(140)', '(570)', '(301)', '(707)',
       '(201)', '(214)', '(477)', '(211)', '(6,5k)', '(179)', '(13,1k)',
       '(33)', '(356)', '(548)', '(342)', '(203)', '(4,1k)', '(152)',
       '(42)', '(19)', '(190)', '(122)', '(523)', '(142)', '(204)',
       '(584)', '(447)', '(377)', '(411)', '(314)', '(149)', '(956)',
       '(546)', '(81)', '(444)', '(145)', '(157)', '(435)', '(424)',
       '(77)', '(107)', '(417)', '(240)', '(188)', '(91)', '(129)',
       '(316)', '(344)', '(433)', '(114)', '(537)', '(72)', '(646)',
       '(838)', '(161)', '(468)', '(264)', '(645)', '(222)', '(67)',
       '(473)', '(364)', '(935)', '(84)', '(596)', '(1,6k)', '(231)',
       '(53)', '(353)', '(542)', '(777)', '(594)', '(124)', '(963)',
       '(288)', '(420)', '(134)', '(456)', '(378)', '(120)', '(374)',
       '(422)', '(176)', '(243)', '(598)', '(2,7k)', '(68)', '(671)',
       '(223)', '(656)', '(71)', '(317)', '(220)', '(199)', '(680)',
       '(63)', '(166)', '(57)', '(3,6k)', '(274)', '(2,8k)', '(198)',
       '(819)', '(327)', '(343)', '(836)', '(3,4k)', '(563)', '(919)',
       '(497)', '(536)', '(207)', '(52)', '(375)', '(511)', '(235)',
       '(412)', '(86)', '(311)'], dtype=object)

### Data Cleaning
1. Terdapat 2 harga yaitu harga awal dan harga setelah diskon (Harus dipisahkan)
3. Data pada kolom Review masih belum konsisten

In [42]:
# Membuat kolom Harga diskon dan harga asli

def ekstrak_harga(data):
    harga = re.findall(r'Rp?([\d.]+)', data)
    harga = [int(p.replace('.', '').replace(',', '.')) for p in harga]

    if len(harga) == 1:
        return pd.Series([harga[0], harga[0]])  # harga diskon = harga asli
    elif len(harga) == 2:
        return pd.Series(harga)
    else:
        return pd.Series([None, None])
    
df[['Harga_Diskon', 'Harga_Asli']] = df['Harga'].apply(ekstrak_harga)

In [43]:
df.head()

,Brand,Name,Harga,Rating,Review,Harga_Diskon,Harga_Asli
0,Maybelline,Superstay Vinyl Ink Tint,Rp139.900,4.7,(5k),139900,139900
1,Skintific,Perfect Stay Velvet Matte Cushion,Rp140.700-Rp168.840,4.8,(758),140700,168840
2,Dear Me Beauty,Serum Lip Tint,Rp35.280-Rp40.670,4.6,"(4,3k)",35280,40670
3,Skintific,Ultra Cover Powder Foundation,Rp124.050-Rp148.860,4.8,(294),124050,148860
4,barenbliss,Peach Makes Perfect Lip Tint,Rp65.610Rp72.900,4.6,"(5,8k)",65610,72900

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         1498 non-null   object
 1   Name          1498 non-null   object
 2   Harga         1498 non-null   object
 3   Rating        1498 non-null   object
 4   Review        1498 non-null   object
 5   Harga_Diskon  1498 non-null   int64
 6   Harga_Asli    1498 non-null   int64
dtypes: int64(2), object(5)
memory usage: 82.0+ KB

In [45]:
# Mengganti "k" menjadi ribu pada kolom review

def ubah_review(data):
    value = str(data).strip('()')  
    value = value.replace(',', '.')

    if value.lower() == 'no review':
        return 0  # anggap review kosong = 0
    elif 'k' in value:
        return int(float(value.replace('k', '')) * 1000)
    else:
        return int(value)


df['Review'] = df['Review'].apply(ubah_review)

In [46]:
df.head()

,Brand,Name,Harga,Rating,Review,Harga_Diskon,Harga_Asli
0,Maybelline,Superstay Vinyl Ink Tint,Rp139.900,4.7,5000,139900,139900
1,Skintific,Perfect Stay Velvet Matte Cushion,Rp140.700-Rp168.840,4.8,758,140700,168840
2,Dear Me Beauty,Serum Lip Tint,Rp35.280-Rp40.670,4.6,4300,35280,40670
3,Skintific,Ultra Cover Powder Foundation,Rp124.050-Rp148.860,4.8,294,124050,148860
4,barenbliss,Peach Makes Perfect Lip Tint,Rp65.610Rp72.900,4.6,5800,65610,72900

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         1498 non-null   object
 1   Name          1498 non-null   object
 2   Harga         1498 non-null   object
 3   Rating        1498 non-null   object
 4   Review        1498 non-null   int64
 5   Harga_Diskon  1498 non-null   int64
 6   Harga_Asli    1498 non-null   int64
dtypes: int64(3), object(4)
memory usage: 82.0+ KB

In [50]:
df_clean = df.drop(columns=['Harga'])

In [51]:
df_clean.to_csv('sociolla_clean.csv', index = False)